<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backend</key>
	<string>QEMU</string>
	<key>ConfigurationVersion</key>
	<integer>4</integer>
	<key>Display</key>
	<array>
		<dict>
			<key>DownscalingFilter</key>
			<string>Linear</string>
			<key>DynamicResolution</key>
			<true/>
			<key>Hardware</key>
			<string>VGA</string>
			<key>NativeResolution</key>
			<false/>
			<key>UpscalingFilter</key>
			<string>Nearest</string>
			<key>VgaRamMib</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Drive</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>0</string>
			<key>ImageType</key>
			<string>Disk</string>
			<key>Interface</key>
			<string>Floppy</string>
		</dict>
	</array>
	<key>Information</key>
	<dict>
		<key>Icon</key>
		<string>7bb4310a-1bab-49a3-9098-2ce2fd5aad45.jpg</string>
		<key>IconCustom</key>
		<true/>
		<key>Name</key>
		<string>Beats</string>
		<key>UUID</key>
		<string>00000000-0000-0000-0000-000000000000</string>
	</dict>
	<key>Input</key>
	<dict>
		<key>MaximumUsbShare</key>
		<integer>3</integer>
		<key>UsbBusSupport</key>
		<string>Disabled</string>
		<key>UsbSharing</key>
		<false/>
	</dict>
	<key>Network</key>
	<array/>
	<key>QEMU</key>
	<dict>
		<key>AdditionalArguments</key>
		<array>
			<string></string>
			<string></string>
		</array>
		<key>BalloonDevice</key>
		<false/>
		<key>DebugLog</key>
		<false/>
		<key>Hypervisor</key>
		<false/>
		<key>PS2Controller</key>
		<true/>
		<key>RNGDevice</key>
		<false/>
		<key>RTCLocalTime</key>
		<true/>
		<key>TPMDevice</key>
		<false/>
		<key>UEFIBoot</key>
		<false/>
	</dict>
	<key>Serial</key>
	<array/>
	<key>Sharing</key>
	<dict>
		<key>ClipboardSharing</key>
		<false/>
		<key>DirectoryShareMode</key>
		<string>None</string>
		<key>DirectoryShareReadOnly</key>
		<false/>
	</dict>
	<key>Sound</key>
	<array/>
	<key>System</key>
	<dict>
		<key>Architecture</key>
		<string>i386</string>
		<key>CPU</key>
		<string>base</string>
		<key>CPUCount</key>
		<integer>1</integer>
		<key>CPUFlagsAdd</key>
		<array/>
		<key>CPUFlagsRemove</key>
		<array/>
		<key>ForceMulticore</key>
		<false/>
		<key>JITCacheSize</key>
		<integer>0</integer>
		<key>MemorySize</key>
		<integer>1</integer>
		<key>Target</key>
		<string>q35</string>
	</dict>
</dict>
</plist>
