<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayOriginX</key>
	<real>0.0</real>
	<key>DisplayOriginY</key>
	<real>0.0</real>
	<key>DisplayScale</key>
	<real>1</real>
	<key>RemovableDrives</key>
	<dict>
		<key>drive0</key>
		<data>
		Ym9va6gDAAAAAAQQMAAAAGBOHLcqh+A1EZiLBAUPzAOCRyzSxTB4IdcmyFPD
		TvyVmAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAE1h
		dHZpQ29vbGsAAAcAAAABAQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1
		bWVudHMTAAAAAQEAAGNvbX5hcHBsZX5DbG91ZERvY3MADAAAAAEBAABpQ2xv
		dWQgRHJpdmUFAAAAAQEAAEJlYXRzAAAACAAAAAEBAABib290LmltZyAAAAAB
		BgAAEAAAACAAAAA0AAAARAAAAFwAAAB4AAAAjAAAAJwAAAAIAAAABAMAAJ5m
		AAAAAAAACAAAAAQDAABbAwEAAAAAAAgAAAAEAwAAYgMBAAAAAAAIAAAABAMA
		AN/PkAAAAAAACAAAAAQDAAD9z5AAAAAAAAgAAAAEAwAAAdKQAAAAAAAIAAAA
		BAMAAFxuhgAAAAAACAAAAAQDAACI5RsBAAAAACAAAAABBgAA1AAAAOQAAAD0
		AAAABAEAABQBAAAkAQAANAEAAEQBAAAIAAAAAAQAAEHEnno8uqQvGAAAAAEC
		AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAA
		AAMDAAD2AQAACAAAAAEJAABmaWxlOi8vLwcAAAABAQAAVmVudHVyYQAIAAAA
		BAMAAAAAQEW5AAAACAAAAAAEAABBxJPIboAAACQAAAABAQAARjk2RjU5MzQt
		MTQ1MC00QTUyLUIyNjgtODIwNDE2MzFEN0U0GAAAAAECAACBAAAAAQAAAO8T
		AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNV
		UkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAADAwAAIZMGANgAAAD+////
		AQAAAAAAAAARAAAABBAAAKwAAAAAAAAABRAAAFQBAAAAAAAAEBAAAIwBAAAA
		AAAAQBAAAHwBAAAAAAAAAiAAAFQCAAAAAAAABSAAAMgBAAAAAAAAECAAANgB
		AAAAAAAAESAAAAgCAAAAAAAAEiAAAOgBAAAAAAAAEyAAAPgBAAAAAAAAICAA
		ADQCAAAAAAAAMCAAAGACAAAAAAAAAcAAAKwBAAAAAAAAEcAAACAAAAAAAAAA
		EsAAALwBAAAAAAAAENAAAAQAAAAAAAAAaAIAgIwCAAAAAAAA
		</data>
	</dict>
	<key>RemovableDrivesPath</key>
	<dict>
		<key>drive0</key>
		<string>/Users/MatviCoolk/Library/Mobile Documents/com~apple~CloudDocs/iCloud Drive/Beats/boot.img</string>
	</dict>
	<key>ShortcutBookmark</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAHT5kko50xpzBnUg6tw/w/K5MIY8lNtsTuNNrfMXTJIjnAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAE1hdHZpQ29vbGsAAAcA
	AAABAQAATGlicmFyeQAQAAAAAQEAAE1vYmlsZSBEb2N1bWVudHMTAAAAAQEAAGNvbX5h
	cHBsZX5DbG91ZERvY3MADAAAAAEBAABpQ2xvdWQgRHJpdmUFAAAAAQEAAEJlYXRzAAAA
	CQAAAAEBAABCZWF0cy51dG0AAAAgAAAAAQYAABAAAAAgAAAANAAAAEQAAABcAAAAeAAA
	AIwAAACcAAAACAAAAAQDAACeZgAAAAAAAAgAAAAEAwAAWwMBAAAAAAAIAAAABAMAAGID
	AQAAAAAACAAAAAQDAADfz5AAAAAAAAgAAAAEAwAA/c+QAAAAAAAIAAAABAMAAAHSkAAA
	AAAACAAAAAQDAABcboYAAAAAAAgAAAAEAwAAE28cAQAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBxJ6Ny6nJvhgAAAABAgAAAgAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9gEAAAgA
	AAABCQAAZmlsZTovLy8HAAAAAQEAAFZlbnR1cmEACAAAAAQDAAAAAEBFuQAAAAgAAAAA
	BAAAQcSTyG6AAAAkAAAAAQEAAEY5NkY1OTM0LTE0NTAtNEE1Mi1CMjY4LTgyMDQxNjMx
	RDdFNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
	AAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5AAAEAAAAAwMAAEGT
	BgDYAAAA/v///wEAAAAAAAAAEQAAAAQQAACwAAAAAAAAAAUQAABYAQAAAAAAABAQAACQ
	AQAAAAAAAEAQAACAAQAAAAAAAAIgAABYAgAAAAAAAAUgAADMAQAAAAAAABAgAADcAQAA
	AAAAABEgAAAMAgAAAAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAAAAAA
	ADAgAABkAgAAAAAAAAHAAACwAQAAAAAAABHAAAAgAAAAAAAAABLAAADAAQAAAAAAABDQ
	AAAEAAAAAAAAAGwCAICQAgAAAAAAAA==
	</data>
	<key>ShortcutBookmarkPath</key>
	<string>/Users/MatviCoolk/Library/Mobile Documents/com~apple~CloudDocs/iCloud Drive/Beats/Beats.utm</string>
	<key>Suspended</key>
	<false/>
</dict>
</plist>
